_posts/2022-07-23-ms-test.html
_posts/2021-07-21-1-Econometrics-assignment.html
_posts/2021-07-21-2-New-Ecotrix-assignment.html
_posts/2021-07-21-3-Another-Ecotrix-assignment.html
_posts/2022-07-23-A New File.md
_posts/2022-07-23-Extract-Data-Planning-Commission-GDDP.md
_posts/2022-07-23-ms-test.html
_posts/2022-07-23-planning_commission_gddp_data_extraction_using_jupyter.md
_posts/2022-07-23-Stata-Tutorial.md